<!DOCTYPE html>
<html>
  <head>
    <div>
    <title>STARWARS</title>
    
    <link rel="stylesheet"
    href="C:\Users\Nicolas.Vasquez\APISTARWARS\src\app\app.component.css">
    </div>
  </head>
<body>
  
  <main>
      <div class="content-all">
        
      <header></header>
            
      <input type="checkbox" id="check">
      <label for="check" class="icon-menu">
        Menu</label>
      <h2>STARWARS</h2>
      
        <nav class="menu">
          <ul>
            <li>Inicio</li>
            <li>Biografia</li>
            <li>Peliculas</li>
            <li>Personajes</li>  
            <li>Planetas</li>
            <li>Articulos</li>
            <li>Detras de Camaras</li>
          </ul>
        </nav>

      <article>
         
          <p class="parrafo1">Es una franquicia compuesta primordialmente de una serie de películas concebidas 
          por el cineasta estadounidense George Lucas en la década de 1970, y producidas y 
          distribuidas por The Walt Disney Company a partir de 2012.</p>
        
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png">
        
        <p class="parrafo2">Su trama describe las 
          vivencias de un grupo de personajes que habitan en una galaxia ficticia e interactúan 
          con elementos como «la Fuerza», un campo de energía metafísico y omnipresente4​ que 
          posee un «lado oscuro» provocado por la ira, el miedo y el odio.</p>

          
          <p class="parrafo3">Su trama describe las vivencias de un grupo de personajes que 
          habitan en una galaxia ficticia e interactúan con elementos como «la Fuerza», un 
          campo de energía metafísico y omnipresente4​ que posee un «lado oscuro» provocado 
          por la ira, el miedo y el odio.</p>
          
          <p class="parrafo4">Bibliografia:
            <li><a href="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/1200px-Star_Wars_Logo.svg.png">Imagen</a></li>
            <li><a href="https://es.wikipedia.org/wiki/Star_Wars">Lectura</a></li></p>
          
         <p class="parrafo"></p>
        
        <p class="parrafo"></p>

        <p class="parrafo"></p>
        <p class="parrafo"></p>
        <p class="parrafo"></p>
        <p class="parrafo"></p>
        <p class="parrafo"></p>
        <p class="parrafo"></p>
        <p class="parrafo"></p>
      </article>
    </div>
  </main>
</body>
</html>