* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    width: auto;
    height: auto;
    background: rgb(71, 71, 71);
    color: white;
}

.content-all {
    width: auto;
    max-width: 1000px;
    background: black;
    margin: auto;
    margin-top: 60px;
    border: 1px solid #ffe919;
    cursor: pointer;
    z-index: 10;
}

header{
    width: 100%;    
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 200px;
}

.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
    background: rgb(71, 71, 71);
    transition: all 300ms;
    overflow: hidden;
}

 
.menu li{
    list-style: none;
    padding: 16px;
    color: #ffe919;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 200px;
}

.menu li:hover{
    background: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #ffe919;
}

article{
    padding: 20px;
}

.content-all label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font: 26px;
    color: white;
    z-index: 10;
}   

.content-all h2 { 
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font: 26px;
    text-align: center;
    color: #ffe919;
    font-family: fantasy;

}

article .parrafo1{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 2px;
}

article img{
    width: 100%;
    border: 4px solid #ffe919;
    margin-top: 40px;
}

article .parrafo2{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 2px;
}

article .parrafo3{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 2px;
}

article .parrafo4{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 2px;
}
